/* Main Section */
  .main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #a8e6cf, #dcedc1);
    min-height: 100vh; /* Καλύπτει το ύψος της οθόνης */
  }
  
  .main-content {
    max-width: 600px;
    text-align: left;
  }
  
  .main-content h1 {
    font-size: 3em;
    color: #333;
  }
  
  .main-content p {
    font-size: 1.2em;
    margin: 20px 0;
    color: #555;
  }
  
  .cta-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff6f61;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-btn:hover {
    background-color: #e85c50;
  }
  
  .illustration {
    width: 400px;
  }
  
  .illustration img {
    max-width: 100%;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
      padding: 30px;
      text-align: center;
    }
  
    .main-content h1 {
      font-size: 2.5em;
    }
  
    .main-content p {
      font-size: 1.1em;
    }
  
    .illustration {
      margin-top: 20px;
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .main-content h1 {
      font-size: 2em;
    }
  
    .main-content p {
      font-size: 1em;
    }
  
    .cta-btn {
      padding: 12px 25px;
      font-size: 1em;
    }
  
    .main-section {
      padding: 20px;
    }
  

  
    .illustration {
      width: 100%;
    }
  
    .navbar {
      padding: 0 10px;
    }
  }